<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title %}
        {{ page.title }} | {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="{% if page.description %}{{ page.description }} {% else %} {{ site.description }} {% endif %}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/feed.xml' | prepend: site.baseurl }}">

    <!-- default css -->
    <link rel="stylesheet" href="/assets/main.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/assets/style/index.css">
</head>